<ngb-carousel>
    <ng-template ngbSlide id="head">
        <img src="assets/images/homepage.jpg" alt="Random first slide">
        <div class="header-overlay"></div>
        <div class="carousel-caption content">
          <h1>HOW CAN I HELP YOU..??</h1>
        </div>
      </ng-template>
  </ngb-carousel>
<section class="bg">
  
</section>

  <ngb-tabset [justify]="currentJustify">
      <ngb-tab title="CHANGING YOUR PASSWORD">
        <ng-template ngbTabContent>
          <div class="container">
              <ul style="text-align:justify;">
                  <li><p>Need to change your password? No problem. If you&#39;re signed in, hover your mouse
                     over your name in the heading and click Settings from the drop-down menu. Click
                     Change Password, enter your current password, and then type in your new password
                     twice to check for typos.</p></li>
                  <li><p>Consider including uppercase and lowercase letters, numbers, and even a symbol to
                     ensure a strong password. Don&#39;t use something easily guessable, like &quot;password,&quot;
                     and don&#39;t reuse passwords from other websites.</p></li>
                  <li><p>If you have additional questions, please feel free to continue perusing our Help
                     Center or contact our Member Support team by calling on any of the numbers given
                     below.</p></li>
                </ul>
          </div>
         
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>SAFE SHIPPING GUIDE</ng-template>
        <ng-template ngbTabContent>
         <div class="container">
            We work very hard to keep the marketplace safe. Here are some tips to help you “ship with confidence.”<br>
           <ul style="text-align:justify;">
             <li><b>Verify credentials:</b><br><p>Do this with any service provider you choose. Request insurance information, copies of driver's licenses, and any legal registrations before you release your shipment to a service provider.
              </p></li>
             <li><b>Do not use Western Union or Moneygram:</b><br><p>Requesting payment from instant cash transfer services such as these are prohibited on Truckbulao.com. When using these services, you can’t confirm who the receiving party is, and can’t get the funds back once sent. Contact Member Support immediately if your provider requests a prohibited payment method.
              </p></li>
             <li><b>Execute a written contract:</b><br><p>After the shipment is booked, you and your provider should execute a written contract outlining the details of the agreement. A contract is key in the off chance a dispute occurs.
              </p></li>
             <li><b>Fill out your bill of lading:</b><br><p>We provide a standard bill of lading (BOL) to be used on any shipment. Your service provider may also have his or her own BOL you’ll need to fill out. A BOL is basically a receipt that documents the state of a shipment at pickup and delivery so that the provider can be held accountable for (and only for) damages occurring in transit.
              </p></li>
             <li><b>Trust your instincts:</b><br><p> If you feel something is too good to be true, you're probably having that feeling for a reason. Don't send any funds or release anything to a provider until those inconsistencies have been addressed and resolved.
              </p></li>
             <li><p>If you have additional questions, please feel free to continue perusing our Help Center or contact our Member Support team by using the contact details given below.
              </p></li>
           </ul>
         </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="SHIPPING BASICS">
        <ng-template ngbTabContent>
          <div class="container">
            <ul style="text-align:justify;">
              <li><p>Shipping large items can be a hassle, especially if you've never done it before. Follow these guidelines to help ensure a seamless experience from pickup through delivery.
                </p></li>
              <li><p>Know Your Shipment. Do your best to find out the size, weight, and special needs of your shipment. If you're buying online, you can typically get this information from the seller. Try to make sure your listing includes accurate shipment details, as well as correct pickup and delivery locations.
                </p></li>
              <li><p>If you're listing a household move, include a detailed inventory. When you're estimating the number of boxes you have, consider rounding up instead of down. This will help both you and your service provider avoid surprises at pickup.
                </p></li>
              <li><p>Consider Your Options. Once you've listed your shipment, you'll be able to start receiving bids from feedback-rated service providers. Be sure to check out the profiles and reviews of bidding providers prior to booking. If you have any questions, you can always use the Q&A section of their bids to get in touch.
                </p></li>
              <li><p>Be sure to settle up with your service provider according to the payment method used at checkout. Please also take a moment to leave feedback for your service provider. Our feedback system helps to ensure all providers are accountable for the quality of the service they deliver.
                </p></li>
            </ul>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>