.head {
    text-align: center;
   
  }
  
  .jumb{
    margin-top: 50px;
  }

  .card{
    -webkit-box-shadow: 0px 7px 34px -5px rgba(2,36,71,1);
    -moz-box-shadow: 0px 7px 34px -5px rgba(2,36,71,1);
    box-shadow: 0px 7px 34px -5px rgba(2,36,71,1);
  }

  .size {
    margin-top: -14px;
  }

.but{
    margin-top: 50px;
    margin-left: 250px;
}
.figure {
    padding-left: 70px;
    padding-top: 100px;
  }

  #h3{
      text-align: center;
      font-family: 'Acme', sans-serif;
      font-size: 40px;
  }