
<header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom box-shadow new">
          <div class="container">
          <a class="navbar-brand font-weight-normal text-light">
              <img src="assets/images/truck1.png" width="150" height="45" class="d-inline-block align-top">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav  color">
              <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/']"><i class="fa fa-home"></i>HOME</a>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/help-support']"><i class="fa fa-book"></i> HELP AND SUPPORT</a>
              </li>
             
              <li class="nav-item active" [routerLinkActive]="['active']" *ngIf="isloggedin() && user=='shipper'">
                  <div ngbDropdown class="d-inline-block">
                      <a class="btn text-light" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user-circle"></i> {{user | uppercase}}</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" [routerLink]="['/customer-my-orders']">My Orders</button>
                        <button class="dropdown-item" [routerLink]="['/product-categories']">New Delivery</button>
                        <button class="dropdown-item">Logout</button>
                      </div>
                      </div>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']" *ngIf="isloggedin() && user=='carrier'">
                  <div ngbDropdown class="d-inline-block">
                      <a class="btn text-light" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user-circle"></i> {{user | uppercase}}</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" [routerLink]="['/carrier-myorders']">My Orders</button>
                        <button class="dropdown-item" [routerLink]="['/carrier-addvehicle']">Add Vehicle Details</button>
                        <button class="dropdown-item">Logout</button>
                      </div>
                      </div>
              </li>
            </ul>      
          </div>
        </div>
        </nav>
      </header>