
<header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom box-shadow new">
          <div class="container">
          <a class="navbar-brand font-weight-normal text-light">TRUCKBULAO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav justify-content-end color">
              <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/']"><i class="fa fa-home"></i>HOME</a>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/']"><i class="fa fa-book"></i> HOW IT WORKS</a>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/']"><i class="fa fa-users"></i> ABOUT US</a>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']">
                  <div ngbDropdown class="d-inline-block">
                      <a class="btn text-light" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user-circle"></i> Customer Name</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">My Orders</button>
                        <button class="dropdown-item">New Delivery</button>
                        <button class="dropdown-item">Logout</button>
                      </div>
                      </div>
              </li>
              <li class="nav-item active" [routerLinkActive]="['active']">
                  <div ngbDropdown class="d-inline-block">
                      <a class="btn text-light" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user-circle"></i> Carrier Name</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item">My Orders</button>
                        <button class="dropdown-item">Add Vehicle Details</button>
                        <button class="dropdown-item">Logout</button>
                      </div>
                      </div>
              </li>
            </ul>      
          </div>
          </div>
        </nav>
      </header>