<body>
  <section class="jumbotron text-center">
      <div class="container jumb">
        <h1 class="jumbotron-heading" style="font-size: 60px; font-family: 'Acme', sans-serif;">New Delivery</h1>
      </div>
    </section>
  <div class="container">
      <div class="row">
          
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                    Product name
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        Description:
                      </div>
                      <div class="col-3">
                        Source Address:
                      </div>
                      <div class="col-3">
                        Destination Address:
                      </div>
                      <div class="col-3">
                        size:
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                          Weight:
                        </div>
                        <div class="col-3">
                          Quantity:
                        </div>
                        <div class="col-3">
                          Pickup Date:
                        </div>
                        <div class="col-3">
                          Delivery Date:
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-3">
                           Type:
                          </div>
                          <div class="col-3">
                            Receiver's Contact Number:
                          </div>
                          <div class="col-3">
                            Sender's Contact Number:
                          </div>
                          <div class="col-3">
                            <label>Product Image:</label><br>
                            <button class="btn btn-secondary">Image</button>
                          </div>
                        </div><br>
                        <div class="row">
                            <div class="col-4"> </div>
                            <div class="col-4">
                              <form>
                                <div class="row">
                                  <div class="col">
                                    <label>Budget:</label>
                                    <input type="text" class="form-control" placeholder="Enter quotation">
                                  </div>
                                  <div class="col">
                                    <label>Quotation:</label>
                                    <button class="btn btn-secondary">Send Quotation</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="col-4"></div>
                          </div>
                  </div>
                </div>
          </div>
         
      </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

