<div class="body">
    <section class="jumbotron text-center">
        <div class="container jumb">
          <h1 class="jumbotron-heading" style="font-size: 60px; font-family: 'Acme', sans-serif;">Add Vehicle Details</h1>
        </div>
      </section>
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/customer.jpg" class="rounded-circle" alt="Cinque Terre">
              <h2 class="round">REGISTER</h2>
  
              <form>
                  <div class="form-group">
                      <label>Vehicle Number:</label>
                      <input class="form-control" type="text" placeholder="Enter vehicle number">
                    </div>
                    <div class="form-group">
                        <label>Details:</label>
                        <textarea class="form-control" rows="3" placeholder="Enter vehicle details"></textarea>
                    </div>
                    <div class="form-group">
                      <label>Vehicle image: </label>
                       <input type="file" class="form-control-file">
                    </div>
                  <div class="form-group">
                    <label>Capacity and Dimention:</label>
                    <input type="text" class="form-control" placeholder="Enter capacity">
                   </div>
                  <div class="form-group">
                    <label>Aadhar Number:</label>
                    <input type="text" class="form-control" placeholder="Enter Owner Aadhar number">
                  </div>
                  <div class="form-group">
                      <label>Vehicle RC:</label>
                      <input type="text" class="form-control" placeholder="Enter Vehicle RC">
                    </div>
                    <div class="form-group">
                        <label>Vehicle Permit:</label>
                        <input type="text" class="form-control" placeholder="Enter Vehicle Permit">
                      </div>
                      <div class="form-group">
                          <label>Vehicle Insurance:</label>
                          <input type="text" class="form-control" placeholder="Enter Vehicle Insurance">
                        </div>
                 
                  <div class="but">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
                  </div>
                </form>
            </div>
          </div><br><br><br><br>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  
  
  