.body{

    /*background-image: linear-gradient(to left bottom, #bdcbe0, #d0d7e8, #e1e4ef, #f1f1f7, #ffffff);*/
    background-image: url('assets/images/back.jpg');
    opacity: 0.80;
    
}

.rounded-circle{
    margin-left: 250px;
}

.round{
    margin-top: 20px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.but{
    padding-top:30px;
}

.tet{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}

.card{
    -webkit-box-shadow: 1px 12px 31px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 12px 31px 4px rgba(0,0,0,0.75);
box-shadow: 1px 12px 31px 4px rgba(0,0,0,0.75);

}


.jumb{
    margin-top:20px;
}