<ngb-carousel>
    <ng-template ngbSlide id="head">
        <img src="assets/images/t1.jpg" alt="Random first slide">
        <div class="header-overlay"></div>
        <div class="carousel-caption content">
          <h3><span id="h3">TRUCK</span>BULAO</h3>
          <p id="p1">CUSTOMERS, meet TRANSPORTERS <br>and<br> TRANSPORTERS, meets CUSTOMERS</p>
          <p id="p2">We make transporting big stuff cheap and easy by helping customers directly connect with transporters who have extra truck space.</p>
          <button type="button" class="btn btn-light login" routerLink="/product-categories"><i class="fa fa-user-circle"></i>  LOGIN</button>
          <button type="button" class="btn btn-light register"><i class="fa fa-address-book"></i>  REGISTER</button>
        </div>
      </ng-template>
  </ngb-carousel>