<div class="body">
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/img1.png" class="rounded-circle" alt="Cinque Terre">
              <h2 class="round">REGISTER</h2>
  
              <form>
                  <div class="form-group">
                      <label>Name:</label>
                      <input class="form-control" type="text" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Contact:</label>
                        <input class="form-control" type="text" placeholder="Enter Contact Number">
                    </div>
                    <div class="form-group">
                        <label>License:</label>
                        <input class="form-control" type="text" placeholder="Enter License Number">
                    </div>
                    <div class="form-group">
                        <label>Aadhar Number:</label>
                         <input class="form-control" type="text" placeholder="Enter Aadhar Number">
                    </div>
                    <div class="form-group">
                      <label>Upload Images: </label>
                       <input type="file" class="form-control-file">
                    </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email">
                    <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" class="form-control" placeholder="Re-enter password">
                    </div>
                 
                  <div class="but">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
                  </div>
                </form>
            </div>
          </div><br><br><br><br>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
  
  
  